.title {
    margin-bottom: 25px;
    padding-top: 50px;
}

.body-modal-open {
    overflow: hidden;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.view-favorites-button {
    margin-bottom: 30px;
}

.filterBy {
    margin-bottom: 20px;
}

#searchBar {
    margin-bottom: 20px;
}

#saveToFavoritesBtn {
    margin-top: 20px;
}

.closeModalButton {
    display: none;
}

.additionalImageContainer {
    text-align: justify;
}

.additionalImageThumbnail {
    height: 79px;
    width: 79px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.modalBG-open {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

.modalBG-closed {
    display: none;
}

.modalData {
    display: inline-block;
    background-color: white;
    width: 80%;
    height: 90%;
    margin-top: 50px;
    overflow-y: scroll;
}


.modal-open {
    overflow: 'hidden';
}

.modalImgContainer {
    width: 50%;
    height: 100%;
    float: right
}

.imageWrapper {
    height: 350px;
    background-color: rgba(244,244,244);

    .align-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
        margin: auto;
        vertical-align: middle;
    }

    text-align: center;
}

.imageWrapper:hover {
    cursor: pointer;
    background-color: rgba(233,233,233);
}

.modalContentContainer {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    /* padding: 5px; */
}

.modalImg {
    /* width: 40%; */
    position: relative;
    max-width: 100%;
    max-height: 90%;
    top: 0;
    left: 0;
}

.collectionObject {
    /* display: inline-block; */
    /* max-width: 380px; */
    /* max-height: 450px; */
    /* margin: 20px; */
    /* width: 20%; */

    .imgNotAvailable {
        /* max-width: 380px; */
        /* max-height: 300 px; */
    }
}

.container-fluid {
    max-width: 90vw !important;
    /* margin-top: 10px !important; */
}

.lineSeparator {
    height: 1px;
    background-color: rgba(233,233,233);
    margin-bottom: 40px;
    margin-top: 15px;
}

.maker, .date {
    font-size: 14px;
    margin-bottom: 5px;
}

.image-grid {
    max-width: 1600px;
    margin: 0 auto;
}

.image-info {
    height: 100px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.currentPage {
    background-color: red;
}

h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
    margin-top: 10px    ;
    margin-bottom: 0px ;

}

b.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerContainer {
    border-bottom: 1px solid rgb(200, 200, 200);
}