.body-modal-open {
    overflow: hidden;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.view-favorites-button {
    margin-bottom: 30px;
    width: 145px;
}


#searchBar {
    margin-bottom: 20px;
    max-width: 498px !important;
}

.input-group-text:hover {
    cursor: pointer;
}

.filterSelect {
    max-width: 568px !important;
}

.toggleFiltersIcon {
    text-align: right;
}

.toggleFiltersIcon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .filterSelect {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
}

#saveToFavoritesBtn {
    margin-top: 20px;
}

.closeModalButton {
    display: none;
}

.additionalImageContainer {
    text-align: justify;
}

.additionalImageThumbnail {
    height: 79px;
    width: 79px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.modalBG-open {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

.modalBG-closed {
    display: none;
}

.searchTheCollection, .filterByText, #viewFavoritesText {
    margin-bottom: 10px;
}

.filterByText:hover {
    cursor: pointer;
    text-decoration: underline;
}

#chevronUp {
    display: none;
}

#chevronDown {
    display: '';
}

.showingResultsText {
    color: rgb(100, 100, 100);
}

.modalData {
    display: inline-block;
    background-color: white;
    width: 80%;
    height: 90%;
    margin-top: 50px;
    overflow-y: scroll;
}

.filterOptionContainer-hide {
    display: none !important
}


.modal-open {
    overflow: 'hidden';
}

.modalImgContainer {
    width: 50%;
    height: 100%;
    float: right
}

.imageWrapper {
    height: 350px;
    background-color: rgba(244,244,244);

    .align-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
        margin: auto;
        vertical-align: middle;
    }

    text-align: center;
}

.imageWrapper:hover {
    cursor: pointer;
    background-color: rgba(233,233,233);
}

.modalContentContainer {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
}

.modalImg {
    position: relative;
    max-width: 100%;
    max-height: 90%;
    top: 0;
    left: 0;
} 

.filterByContainer {
    margin-bottom: 20px !important;
}

.container-fluid {
    max-width: 90vw !important;
}

.lineSeparator {
    height: 1px;
    background-color: rgba(233,233,233);
    margin-bottom: 40px;
    margin-top: 15px;
}

.maker, .date {
    font-size: 14px;
    margin-bottom: 5px;
}

.image-grid {
    max-width: 1600px;
    margin: 0 auto;
}

.image-info {
    height: 100px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#searchAddon {
    margin-left: -4px !important;
}

.currentPage {
    background-color: red;
}

.pageNavContainer {
    text-align: center;

    .pageNavButton {
        width: 50px;
        height: 50px;
        margin: 15px 10px 50px 10px
    }

    .active {
        background-color: blue;
    }
}


h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
    margin-top: 10px    ;
    margin-bottom: 0px ;

}

.header {
    padding-top: 40px;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 15px;
}

b.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerContainer {
    border-bottom: 1px solid rgb(200, 200, 200);
}