h1 {
    color: red
}

h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.modalBG {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.modalData {
    display: block;
    width: 80vw;
    height: 80vh;
    background-color: white;
}

.closed {
    display: none;
}

.modalImage {
    max-width: 800px;
}

.image-card {
    display: inline-block;
    max-width: 380px;
    max-height: 450px;
    margin: 20px;
    width: 20%;

    img {
        max-width: 100%;
        height: auto;
    }

    .imgNotAvailable {
        max-width: 380px;
        max-height: 300 px;
    }
}

.image-grid {
    max-width: 1600px;
    margin: 0 auto;
}

.image-info {
    height: 100px;
}

.currentPage {
    background-color: red;
}